<a href="https://colab.research.google.com/github/PiaGrcia/LinAlg21-22/blob/main/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Linear Algebra
#### Laboratory Activity No. 1

# **Python Fundamentals**

![image]()

#### Submitted by:
Garcia, Ma. Sopia Alyanna D.

#### Instructor:
Engr. Eugene H. Embalzado Jr.

September 15, 2021

## I. Objectives:
- This laboratory activity aims to implement the principles and techniques of using Python Language, and how it differ from other form of programming language.

## II. Methods:
- The practices of the activity are different fundamentals of python programming. It is to enhance skills and knowledge on how to program and run python language using google colaboratory.
- This laboratory activity shows the different ways on how to input and what data types are used to come up with an output.
- This activity was provided with different techniques and short-cut keys to run the program.
- There are operations and iterations used to execute the output.

## III. Results

#Welcome to Python Fundamentals
In this module, we are going to establish our skills in Python programming. In this notebook we are going to cover:


*   Variables and Data Types
*   Operations
*   Input and Output Operations
*   Logic Control
*   Iterables
*   Functions

## Variables and Data Types

The basic data types in Python includes **integers, strings and floating point numbers**.
In this part of the cell, shows the differents variables and data types used; and how they differ from using other data types.

In [ ]:
x = 1
a, b = 3, -2

In [ ]:
type(x)

In [ ]:
y = 3.0
type(y)

In [ ]:
x = float(x)
type(x)

In [ ]:
s, t, u = "1", '3', 'three'
type(u)

## Operations

- Arithmetic Operations
- Assignment Operations
- Comparators Operations
- Logical Operations

### Arithmetic

These consists of operands and operators combined to perform mathematical operations.

In [ ]:
w, x, y, z = 4.0, -3.0, 2, -32

**Addition** - it adds two values.

In [ ]:
### Addition 
S = w + x

1.0

**Subtraction** - it subtracts the second value to the first value.

In [ ]:
### Subtraction 
D = y - z

33

**Multiplication** - it finds the product of 2 values.

In [ ]:
### Multiplication 
P = w * z

-128.0

**Division** - it finds the quotient when first value is divided by the second.

In [ ]:
### Division
Q = y/x

-0.3333333333333333

**Floor Division** - it finds the floor of the quotient when first value is divided by the second.

In [ ]:
### Floor Division 
Qf = w//x
Qf

-2.0

**Exponentiation** - it raises the first value to power of second.

In [ ]:
### Exponentiation 
E = w**w
E

256.0

**Modulo** - it finds the remainder when first value is divided by the second.

In [ ]:
### Modulo 
mod = z%x
mod

-2.0

### Assignment

In [ ]:
A, B, C, D = 0, 100, 2, 1

**Addition Assignment Operator**

It lets you add two values and assign the resultant value to a variable

In [ ]:
A += w
A

4.0

**Subtraction Assignment Operator**

It lets you subtract two values and assign the resultant value to a variable.

In [ ]:
B -= x
B

103.0

**Multiplication Assignment Operator**

It lets you multiply two values and assign the resultant value to a variable.

In [ ]:
C *= w
C

2048.0

**Division Assignment Operator** 

It lets you divide two values and assign the resultant value to a variable.

In [ ]:
D /= x
D

-0.037037037037037035

**Exponential Assignment Operator**

It lets you raise power of two values and assign the resultant value to a variable.

In [ ]:
E **= y
E

65536.0

### Comparators

In [ ]:
size_1, size_2, size_3 = 1, 2.0, "1"
true_size = 1.0

**Equal to Operator (==)**
 - compares two values and returns True if the left value is equal to the right value; otherwise, False.

In [ ]:
## Equality
size_1 == true_size

True

**Not Equal to Operator (!=)**
 - compares two values and returns True if the left value isn't equal to the right value; otherwise, False.

In [ ]:
## Non-Equality
size_2 != true_size

True

**Greater than Operator (>)**
 - compares two values and returns True if the left value is greater than the right value; otherwise, False.

**Less than Operator (<)**
 - compares two values and returns True if the values on the left is less than the value on the right; otherwise, False.

**Greater than or Equal to Operator (>=)**
 - compares two values and returns True if the left value is greater than or equal to the right value; otherwise, False.

**Less than or Equal to Operator (<=)**
 - compares two values and returns True if the left value is less than or equal to the right value; otherwise, False.

In [ ]:
## Inequality
s1 = size_1 > size_2
s2 = size_1 < size_2/2
s3 = true_size >= size_1
s4 = size_2 <= true_size

False

### Logical

Logical Operators are used for Conditional Statements which are true or false. 

 - For **AND** operator - it returns True if both the right and left operand are True.
 - For **OR** operator - it returns True if either of the right and left operand is true.
 - For **NOT** operator - return True if operand is false

In [ ]:
size_1 == true_size

In [ ]:
size_1 is true_size

In [ ]:
size_1 is not true_size

True

In [ ]:
P, Q = True, False
conj = P and Q
conj

False

In [ ]:
disj = P or Q
disj

True

In [ ]:
nand = not(P and Q)
nand

In [ ]:
xor = (not P and Q) or (P and not Q)
xor

True

### Input and Output

**Input** - enter any data sent to the computer from the user through keyboard.

**Output** - the information produced by the computer to the user.

In [ ]:
print("Hello World!")

Hello World!

In [ ]:
cnt = 14000

In [ ]:
string = "Hello World!"
print(string, ", Current Covid count is:", cnt)
cnt += 1

Hello World! , Current Covid count is: 14000

In [ ]:
print(f"{string}, current count is: {cnt}")

Hello World!, current count is: 14001

In [ ]:
sem_grade = 86.25
name = ""
print ("Hello {}, your semestral grade is: {}". format(name, sem_grade))

Hello , your semestral grade is: 86.25

In [ ]:
pg, mg, fg = 98, 85, 65
print("The weights of your semestral grades are:\
\n\t {} for Prelims\
\n\t {} for Midterms\
\n\t {} for Finals." . format(pg, mg, fg))

The weights of your semestral grades are:
	 98 for Prelims
	 85 forMidterms
	 65 for Finals.

In [ ]:
e = input("Enter a number: ")

In [ ]:
name = input("Enter your name: ")
pg = input("Enter prelim grade: ")
mg = input("Enter midterm grade: ")
fg = input("Enter final grade: ")
sem_grade = None
print("Hello {}, your semestral grade is: {}". format(name, sem_grade))

Enter your name: Pia
Enter prelim grade: 70
Enter midterm grade: 80
Enter final grade: 78
Hello Pia, your semestral grade is: None

### Looping Statements

Looping statement helps execute a block of code repeatedly.

## While

It is one of the *most intuitive to understand*. It is a programming concept that when it's implemented, it executes a code over and over again **while** still *holds the condition true*.

*   List item
*   List item

In [ ]:
## while loops
i, j = 0, 10
while(i<=j):
  print(f"{i}\t|\t{j}")
  i += 1

0	|	10
1	|	10
2	|	10
3	|	10
4	|	10
5	|	10
6	|	10
7	|	10
8	|	10
9	|	10
10	|	10

## For

It is a programming concept that, when it's implemented, executes a code over and over again **for** a certain number of times.

In [ ]:
# for(int = 0; i<10; i++){
#printf(i)
#}

i=0
for i in range(10):
  print(i)

In [ ]:
playlist = ["Bahay Kubo", "Magandang Kanta", "Buko"]
print('Now Playing:\n')
for song in playlist: 
  print(song)

### Flow Control

It is the order in which the program's code executes. It is regulated by:
 - Conditional Statement
 - Loops
 - Function Calls

## Condition Statement

In python, conditional statement *performs different computations or actions* depending on whether if its a Boolean constraint evaluates to **True or False.**

It is represented by **IF statements** in python.

IF statement in pythons is used for *decision-making operations*. It only runs when the condition given is **true**; otherwise, **false** if the statement *contains else statement*.

If-then flowchart:
- If the statement is true, it execute the code in **if** block.
- If the statement is false, it execute the code in **else** block
- And executes the code.

![image](https://cdn.guru99.com/images/2013/04/if_then_flowchart.png)

In [ ]:
num_1, num_2 = 11, 12
if(num_1 == num_2):
    print("HAHA")
elif(num_1 > num_2):
    print("HOHO")
else:
    print("HUHU")

HUHU

## Functions

In python, function is a *group of related statements* that performs a specific task.

There are two types of functions:
1. **User-defined functions** - these functions are defined by the user to perform a specific task.
2. **Built-in functions** - theses functions are **pre-defined** function in Python.

In [ ]:
# void DeleteUser (int userid){
# delete(userid);
#}

def delete_user (userid):
  print("Successfully Deleted User: {}" . format(userid))

In [ ]:
userid = 2020_100100
delete_user(2020_100100)

Successfully Deleted User: 2020100100

The **return statement** at the end of the function helps to return the result of the function. It **terminates the function execution** and transfer the results.

In [ ]:
def add(addend1, addend2):
    sum = addend1 + addend2
    return sum

In [ ]:
add(5, 4)

9

### Insights / Commentaries
In this laboratory activity, there are some ways to understand python fundamentals using google collaboratory; it was shown above is programmed the different fundamentals and programming languages used to develop an output on every cell's input. The fundamentals of pythons programming are: Variable and Data Types, Operations, Input and Output, Logic Control, Loop Statements, and Functions. These are discussed and showed on the google collaboratory, on how to properly and right way to program using Python Language.

### IV. Conclusion
After I programmed this laboratory activity, I may encounter different errors. Still, I learned many techniques and fundamentals to develop and enhance this knowledge in the following laboratory activities. This laboratory activity opened up another expertise and skill for me in programming; with python as the programming language I am currently learning, I am excited to adapt to this programming language for future learning. And hopefully can improve my skill in programming and add it up to my abilities as I pass this subject.

# References:

[1] Campbell, S. (2021, September 13). Python Operators: Arithmetic, Logical, Comparison, Assignment, Bitwise & Precedence. Guru99. https://www.guru99.com/python-operators-complete-tutorial.html#4

[2] Campbell, S. (2021a, September 13). Python Conditional Statements: IF. . .Else, ELIF & Switch Case. Guru99. https://www.guru99.com/if-loop-python-conditional-structures.html

[3] Real Python. (2021, June 7). Basic Input, Output, and String Formatting in Python. https://realpython.com/python-input-output/

[4] Python Fundamentals – Programming with Python. (n.d.). Software Carpentry - Programming with Python. Retrieved September 15, 2021, from https://swcarpentry.github.io/python-novice-inflammation/01-intro/index.html

[5] GeeksforGeeks. (2021, September 7). Python Operators. https://www.geeksforgeeks.org/python-operators/

[6] Gallagher, J. (2021, January 4). Python += Operator: A Guide. Career Karma. https://careerkarma.com/blog/python-operator/

[7] Python Loops Tutorial: For & While Loop Examples. (n.d.). DataCamp Community. Retrieved September 15, 2021, from https://www.datacamp.com/community/tutorials/loops-python-tutorial?utm_source=adwords_ppc&utm_campaignid=1455363063&utm_adgroupid=65083631748&utm_device=c&utm_keyword=&utm_matchtype=b&utm_network=g&utm_adpostion=&utm_creative=278443377095&utm_targetid=dsa-429603003980&utm_loc_interest_ms=&utm_loc_physical_ms=20822&gclid=Cj0KCQjws4aKBhDPARIsAIWH0JVakwJqEYwLCPrlFfmzP0Dwk6CZq1B4p39np5Wcy8F2KVgombhjrwAaAkdtEALw_wcB#forloop

[8] Python in a Nutshell. (n.d.). O’Reilly Online Learning. Retrieved September 15, 2021, from https://www.oreilly.com/library/view/python-in-a/0596001886/ch04s09.html